{% extends "capture/captureBase.html" %}

{% block pageStyles %}
    <style>
        .ui-listview > .ui-li-static {
            padding: 0;
            text-shadow: none;
        }
        .itemWrapper   {
            position: relative;
            padding-right: 20px;
        }
        .itemContent  {
            position: relative;
            padding: 8px;
        }
        .itemContentOnWork   {
            background-color: #ebffeb;
            border: 2px solid #bbffbb;
            padding: 6px
        }
        .onWorkDark   {
            background-color:  #bbffbb !important;
        }
        .itemWorking {
            position: absolute;
            bottom: 3px; right: 18px;   /*based itemWrapper's' padding-right of 20 */
            padding: 0;
            margin: 0;

            -ms-transform-origin:     100% 100%; -ms-transform:     rotate(90deg);   /* IE 9 */
            -webkit-transform-origin: 100% 100%; -webkit-transform: rotate(90deg);   /* Chrome, Safari, Opera */
            transform-origin:         100% 100%; transform:         rotate(90deg);
        }

        .woTitleWrap {
            position: relative;
        }
        .woTitle {
             white-space: nowrap;
             position: absolute;
             left: 0;
             right: 5em;
             text-overflow: ellipsis;
             overflow: hidden;
        }

        .ui-content {
            padding: .5em;
        }
    </style>
{% endblock pageStyles %}

{% block localServices %}
    <script type="text/javascript">
        captureApp.service('localService', function() {
            this.clockInOut = function(form, wot_auto_key, clockedIn) {
                input = document.getElementById(form.name + "-task");
                input.value = wot_auto_key + (clockedIn ? 'C' : 'S');
                var event = new FocusEvent('change');  input.dispatchEvent(event);
                var event = new FocusEvent('blur');    input.dispatchEvent(event);
            };
        });
    </script>
{% endblock localServices %}

{% block pageDivAttr %} ng-controller="captureFormCtrl" ng-init="init('{{frmName}}')" {% endblock pageDivAttr %}

{% block pageHeaderToolsRight %}
    {% verbatim %}
        <div id="buttonBar" style="float: right; margin-right: 5px">
            <span ng-repeat="fld in form.flds">
                <span ng-if="fld.type == 'action'">
                    <button ng-click="entryDone($index, true)" data-theme="d" data-shadow="false"
                               class="ui-btn ui-btn-a ui-corner-all"
                               style="background-color: inherit">
                        {{aqcUtils.getFldAttr(form, fld.name, 'label')}}
                        <span class="fa {{aqcUtils.getFldAttr(form, fld.name, 'icon')}} fa-lg" ></span>
                    </button>
                </span>
            </span>
        </div>
    {% endverbatim %}
{% endblock pageHeaderToolsRight %}

{% block pageMiddle %}
    {% verbatim %}
        <p class="formDesc">
            {{ form.desc }}
        </p>
        <div ng-repeat="fld in form.flds" class="noSelect">
            <div ng-if="fld.type == 'lineEdit'" class="ajaxLoaded" style="display: table">
                <div style="display: table-cell; vertical-align: middle; padding: 0em 0em .35em 0em;">
                    {{fld.label}}
                </div>
                <div style="display: table-cell; vertical-align: middle; padding: 0px 0em .35em .5em;">
                    <input type="text" id="{{form.name}}-{{fld.name}}" style="font-size: 100%;"
                           maxlength="{{fld.length}}" size="{{fld.size}}"
                           placeholder="{{fld.prompt}}" value="{{fld.value}}"
                           ng-model="fld.value" ng-disabled="!fld.enabled" ng-focus="gotFocus($index)" ng-change="change($index)"
                           aqc-keyed-advance="entryDone($index)" ng-blur="entryDone($index)" aqc-select-on-focus />
                </div>
                <div style="display: table-cell; vertical-align: middle; padding: 0em  0em .35em .5em;">
                    <span ng-if="fld.msgType == 0"                      >{{fld.msg}}</span>
                    <span ng-if="fld.msgType < 0"  style="color: red;"  >{{fld.msg}}</span>
                    <span ng-if="fld.msgType > 0"  style="color: blue;" >{{fld.msg}}</span>
                </div>
            </div>
        </div>

        <div ng-if="bbox" class="XXfadeAway10 ajaxLoaded noSelect">
            <ul data-role="listview" data-inset="true">
                <li ng-class="bbox.countTasksClockedIn && 'onWorkDark'">
                    <div class="itemWrapper" ng-click="localService.clockInOut(form, bbox.wot_auto_key, bbox.clockedIn);">

                        <div class="itemContent" ng-class="bbox.countTasksClockedIn && 'itemContentOnWork'">
                            <div class="woTitleWrap">
                                <h3 class="woTitle">{{bbox.si_number}}: &nbsp;&nbsp;{{bbox.partNumber}}</h3>
                                <p class="floatRight">{{bbox.woo_statusDesc}}</p>
                                <div style="clear: both;"></div>
                            </div>
                            <p><strong>{{bbox.partDesc}}</strong></p>
                            <p style="white-space: normal;">{{bbox.symptom}}</p>
                        </div>

                        <p class="itemWorking onWorkDark" ng-if="bbox.countTasksClockedIn">
                            {{'Work '}}&nbsp; <strong>{{bbox.countTasksClockedIn}}</strong> / <strong>{{bbox.countTasks}}</strong>
                        </p>

                    </div>
                </li>
            </ul>
            <ul data-role="listview" data-inset="true">
                <li ng-class="bbox.clockedIn && 'onWorkDark'">
                    <div class="itemWrapper" ng-click="localService.clockInOut(form, bbox.wot_auto_key, bbox.clockedIn);">

                        <div class="itemContent"  ng-class="bbox.clockedIn && 'itemContentOnWork'">
                            <div class="woTitleWrap">
                                <h3 class="woTitle">{{bbox.sequence}}: &nbsp;{{bbox.masterDesc}}</h3>
                                <p class="floatRight">{{bbox.wot_statusDesc}}</p>
                                <div style="clear: both;"></div>
                            </div>
                            <!--<p>{{bbox.wot_auto_key}}</p>-->
                            <p ng-if="bbox.longDesc != bbox.masterDesc" style="white-space: normal;">{{bbox.longDesc}}</p>
                        </div>

                        <p class="itemWorking onWorkDark" ng-if="bbox.clockedIn">
                            Working
                        </p>

                    </div>
                </li>
            </ul>


        </div>
    {% endverbatim %}
{% endblock pageMiddle %}
